<h1>Welcome to the Events manager</h1>

<%= link_to 'New event', new_event_path %>
<br>
<table>
  <tr>
    <th>Key</th>
    <th>Text</th>
  </tr>

  <% @events.each do |event| %>
      <tr>
        <td><%= event.key %></td>
        <td><%= event.value %></td>
        <td><%= link_to 'Show', event_path(event) %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event_path(event),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>
